<button type="button" (click)="open('p1')">
    Page 1
  </button>
  
  <button type="button" (click)="open('p2')">
    Page 2
  </button>
  <br>
  p3 Works==={{t1}}

  <br>
arr0=>  {{arr0}}
<br>
arr1=>  {{arr1}}  <br>
arr2=>  {{arr2}}  <br>
arr3=>  {{arr3}}
<br>
copy=>{{copy}}
<br>
f=>{{x}}
<br>
ages=[{{ages}}]
<br>
<button (click)="filFun()">ageCheck</button>
<br>
age={{age}}

<br>
g(fill)=>{{g}}
<br>
student=>{{student}}
<br>
<button (click)="FunIndex()">Index</button>
<br>
index={{a}}
<br>
<button (click)="Funeach()">ForEach</button>
<br>
text={{text|json}}